
body {
    background-color: #fff;
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
}

.splash {
    width: 100%;
    height: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    z-index: 2;
    transition: 2s;
    opacity: 1;
    background-color: #f5d418;
    background-image: url("../img/splashbg.jpg");
    background-repeat: repeat;
}

.splashHold {
    text-align: center;
    margin: 0 30%;
}
.splashHold p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 120%;
    margin-top: 15px;
}

.splash button {
    padding: 10px;
    height: 75px;
    width: 200px;
    border-radius: 9px;
    background-color: #e39a00;
    border-color: #fb7c6e;
    font-size: 150%;
}

.splash svg {
    width: 70%;
    margin: 10% 10% 0;
}
.splash h2 {
    font-family: 'Pacifico', cursive;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    font-size: 600%;
}
.splash p {
    font-family: 'Montserrat', sans-serif;
}


.main {
    width: 325px;
    min-height: 325px;
    position: relative;
    margin: 0 auto;
    z-index: 1;
    opacity: 0;
    transform: scale(0) rotate(0deg);
    transition: .5s;
}

.hexGrow {
    opacity: 1;
    transform: scale(1) rotate(360deg);
    transition: 1s;
}

.splashGone {
    opacity: 0;
    transition: .5s;
    z-index: -2;
}


/*      Nav Before Expanding    */


.mainNav {
    position: absolute;
    top: -50px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 10px;
    transition: .25s;
    width: 100%;
}
.mainNavClick {
    top: 0;
}
.leftNav {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 50%;
    background: #f5d418;
    border-bottom: solid 2px #e4c206;
    color: #fff;
    margin-right: -12px;
    text-align: center;
    transition: .25s;
    z-index: 0;
    padding-right: 15%;
}


.centerNav {
	border-top: 40px solid #e39a00;
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	height: 0;
    width: 150px;
    color: white;
    text-align: center;
    font-size: 125%;
    font-weight: 600;
    transition: .25s;
    z-index: 1;
    display: flex;
    justify-content: center;
}
.centerNav p {
    margin-top: -38px;
    transition: .25s;
}
.centerNav:hover {
    border-top: 45px solid #e39a00;
	border-left: 35px solid transparent;
    border-right: 35px solid transparent;
    min-width: 175px;
}
.centerNavShow, .leftNavShow, .rightNavShow {
    position: fixed;
    top: 0;
    left: 0;
    border: none;
    height: 100%;
    width: 100%;
    z-index: 6;
    display: flex;
    align-items: center;
    text-align: center;
    transition: .5s;
}

.rightNav {
    position: absolute;
    top: 0;
    right: 0;
    height: 30px;
    width: 50%;
    background: #f5d418;
    border-bottom: solid 2px #e4c206;
    margin-left: -12px;
    color: white;
    font-weight: 600;
    text-align: center;
    transition: .25s;
    z-index: 0;
    padding-left: 15%;
}
.rightNav p, .leftNav p {
    font-weight: 600;
    transition: .25s;
    width: 100%;
}

.centerNavShow {
    background-color: #e39a00;
    background-image: url(../img/darkBG.jpg);
    flex-wrap: wrap;
    transition: .5s;
}
.leftNavShow, .rightNavShow {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(../img/background.jpg);
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: 6;
    margin: 0;
}
.centerNavCard, .rightNavCard, .leftNavCard {
    display: none;
    position: fixed;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border: solid 5px white;
    border-radius: 20px 5px 5px;
    z-index: 8;
    padding: 2%;
    flex-wrap: wrap;
    text-align: center;
    transition: .5s;
}

/*          Nav Pull Down Menus */

.inHold {
    margin: 10% auto 0;
}
.inHeader {
    font-family: 'Pacifico', cursive;
    font-size: 175%;
    min-width: 100%;
}
.inHold p {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    width: 80%;
    margin: 0 10%;
}

#accordion {
    width: 90%;
    margin: 0 5%;
    border-radius: 20px;
}

.btn-link {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.btn-link:hover {
    color: black;
    text-decoration: none;
}

.btn-danger {
    width: 90%;
    height: 120px;
    margin: 0 5%;
    font-size: 400%;
    border-radius: 5px;
    background-color: #f5d418;
    border: solid 5px #fdf490;
    text-shadow: 3px 3px #000;
    box-shadow: 0px 5px #b87d00;
}
.card-header {
    background-color: #f5d418;
    background-repeat: repeat;
}
.card-body {
    background-image: url("../img/background.jpg");
    background-repeat: repeat;
    display: flex;
    flex-wrap: nowrap;
    padding: 0;
}

.card-body img {
    margin-bottom: 0;
    width: 50%;
}
.roundPhoto {
    border-radius: 50%;
}
.callInfo {
    padding: 5px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.callInfo p {
    margin: 10px auto 0;
    font-weight: 600;
}
.btn-warning {
    width: 100%;
    margin: 8px;
}

.list-group {

    border: solid 3px #e39a00;
    border-radius: 10px;
}
.list-group-item {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: #fdf490;
    padding: 20px;
    border-radius: 5px;
}
.resources h3 {
    margin-top: 20px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.callLink {
    color: #fff;
}


/*                    Main Hexagons              */


.hexagons {
    margin-top: 60px;
}
.hex {
    width: 34%;
    transition: .5s;
}
.hex:hover {
    transform: scale(1.25);
    transition: .5s;
}
.hex1 {
    position: absolute;
    top: 0;
    left: 33%;
    transition: .5s;
}

.hex2 {
    position: absolute;
    top: 17%;
    left: 4%;
}
.hex3 {
    position: absolute;
    bottom: 19%;
    left: 4%;
}
.hex4 {
    position: absolute;
    top: 17%;
    right: 4%;
}
.hex5 {
    position: absolute;
    bottom: 19%;
    right: 4%;
}
.hex6 {
    position: absolute;
    bottom: 2%;
    left: 33%;
}
.hex7 {
    position: absolute;
    bottom: 36%;
    left: 33%;
}

.hexTitle1{
    position: absolute;
    top: 22%;
    left: 40%;
    width: 20%;
    text-align: center;
}
.hexTitle2{
    position: absolute;
    top: 38%;
    left: 11%;
    width: 20%;
    text-align: center;
}
.hexTitle3{
    position: absolute;
    top: 72%;
    left: 11%;
    width: 20%;
    text-align: center;
}
.hexTitle4{
    position: absolute;
    top: 38%;
    right: 11%;
    width: 20%;
    text-align: center;
}
.hexTitle5{
    position: absolute;
    top: 72%;
    right: 11%;
    width: 20%;
    text-align: center;
}
.hexTitle6{
    position: absolute;
    top: 90%;
    left: 40%;
    width: 20%;
    text-align: center;
}

.full {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transform: scale(8,12);
    z-index: -1;
    transition: .5s;
}
.healthCard, .hygieneCard, .socialCard, .enjoyCard, .relaxCard, .workCard, .profileCard {
    display: none;
    position: fixed;
    top: 0;
    left: 0;

    padding: 4%;
    transition: .5s;
    margin-top: -60px;
}

.healthShow {
    position: fixed;
    display: flex;
    background-color: #fda9a9;
    background-image: url("../img/healthBG.jpg");
    background-repeat: repeat;
    z-index: 2;
}
.hygieneShow {
    position: fixed;
    display: flex;
    background-color: #fdd090;
    background-image: url("../img/hygieneBG.jpg");
    background-repeat: repeat;
    z-index: 2;
}
.socialShow {
    position: fixed;
    display: flex;
    background-color: #fdf490;
    background-image: url("../img/socialBG.jpg");
    background-repeat: repeat;
    z-index: 2;
}
.workShow {
    position: fixed;
    display: flex;
    background-color: #bff1b3;
    background-image: url("../img/workBG.jpg");
    background-repeat: repeat;
    z-index: 2;
}
.relaxShow {
    position: fixed;
    display: flex;
    background-color: #b3c2f1;
    background-image: url("../img/relaxBG.jpg");
    background-repeat: repeat;
    z-index: 2;
}
.enjoyShow {
    position: fixed;
    display: flex;
    background-color: #d8b3f1;
    background-image: url("../img/enjoyBG.jpg");
    background-repeat: repeat;
    z-index: 2;
}
.profileShow {
    position: fixed;
    display: flex;
    background-color: #fff;
    z-index: 2;
}

.innerHealth, .innerHygiene, .innerSocial, .innerRelax, .innerEnjoy, .innerWork, .innerProfile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border: solid white 3px;
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

.innerProfile {
    border-color: silver;
    background-image: url(../img/background.jpg);
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}


/*     stylings for inner card of hexagons     */

.cardIcon {
    width: 100px;
    height: 100px;
}

.squareHold {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px;
    text-align: center;
}
.squareHold p {
    margin-bottom: 0;
}

.squares {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.square {
    width: 48%;
    height: 48%;
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 1%;
    text-align: center;
    box-shadow: inset 0px 0px 10px 0px #667; 
    transition: .25s;
    opacity: .9;
    cursor: pointer;
}
.square:hover {
    transform: scale(1.08);
    opacity: 1;
}
.square img {
    width: 40%;
    margin: 5px 30%;
    opacity: .75;
}

.results {
    width: 100%;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    text-align: center;  
    margin-bottom: 10%;
    padding: 25px;
}

.results h3 {
    font-family: 'Pacifico', cursive;
    font-size: 500%;
    width: 50%;
    margin: 10px 25%;
}
.results p {
    font-family:  'Montserrat', sans-serif;
    font-size: 200%;
    font-weight: 600;
}



.cardClick {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 100%;
}
.cardQuestion {
    font-family: 'Pacifico', cursive;
    font-size: 150%;
    margin: 0 5%;
}

.cardSubmit {
    width: 200px;
    height: 50px;
    background-color: #fff;
    border-radius: 8px;
    padding: 3px;
    margin: 10px;
}
.profileHeader {
    margin: 10px 0;
}
.profileHead {
    font-family: 'Pacifico', cursive;
    width: 100%;
    font-size: 325%;
    color: #e4c206;
}
.profileGreeting {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    font-size: 125%;
}
.profilePic {
    width: 200px;
    height: 200px;
}
.settings {
    width: 100%;
    padding: 3px;
    display: flex;
    flex-wrap: wrap;
}
.settingsBtn {
     width: 100%;
    margin: 5px;
    border-radius: 10px;
    background-image: url(../img/splashbg.jpg);
}

.soundBtnHold {
     width: 50%;
     margin: 0 25%;
}
.iconBG {
    width: 50%;
    min-height: 100px;
    margin: 10px 25%;
    background-color: #bff1b3;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
    border-radius: 25px;
}
.soundBtnHold button {
    padding: 8px;
    background-color: #f5d418;
    font-weight: 600;
    width: 40%;
    margin: 10px 4%;
}
.soundHold {
     margin: 25% 0;
}

.blockedUsers, .favedUsers {
    margin: 10% 0;
    font-family: 'Montserrat', sans-serif;
}

/*    Buttons for closing the inner cards     */

button.close {
    position: absolute;
    top: 5px;
    left: 8px;
    background-color: white;
    border-radius: 50%;
    font-size: 1.5rem;
    opacity: 1;
    width: 40px;
    height: 40px;
}

/*    Closing buttons of the navigation    */

#closeHelpCard {
    top: -5px;
    left: -5px;
}
#closeResourcesCard {
    top: -5px;
    left: -5px;
}
#closeContactCard {
    top: -5px;
    left: -5px;
}


/*     Navigations    */

.contactForm {
    width: 90%;
    margin: 0 5%;
}

.contactBtn {
    background-color: #e39a00;
    border-color: #b87d00;
}
.contactMe h4 {
    font-family: 'Pacifico', cursive;
    font-size: 300%;
}
.contactLinks {
    width: 90%;
    margin: 20px 5%;
}
.contactLinks a {
    width: 45%;
    border: solid 2px #b87d00;
    border-radius: 5px;
    padding: 12px 12px;
    color: black;
    font-size: 120%;
    font-weight: 600;
}

.links a img {
    width: 40px;
    margin: 5px 20px 20px;
}
.otherLinks img {
    width: 40px;
    margin: 6px;
}




.btnClose {
    text-shadow: 2px 0 4px #000;
}

.quoteHold {
    width: 95%;
    margin: 20px 2.5% 2px;
    text-align: right;
}
.quote {
    font-family: 'Pacifico', cursive;
    font-size: 180%;
    margin-bottom: 8px;
}
.quoteAuthor {
    font-family: 'Montserrat', sans-serif;
    font-size: 150%;
}

/*       Carousel Section      */

.moreReading {
    position: fixed;
    margin-top: 20%;
    left: -100%;
    transition: .5s;
    width : 100%;
    height: 100%;
    z-index: 0;
}

.unhide {
    left: 0;
}

 
.blogBorder {
    margin-bottom: 0;
}

.carouselSection {
    width: 100%;
    height: 45%;
    margin-top: 0;
    z-index: 1;
}

.svgBottom {
    position: fixed;
    bottom: -50vh;
    left: 0;
    width: 100%;
}

.blogHolder {
    background-color: #fff;
    background-image: url(../img/background.jpg);
    background-repeat: repeat;
    width: 100%;
    height: 100%;
    border-top: solid 10px #e4c206;
    display: flex;
    justify-content: center;
    box-shadow: 0px -3px 5px #d4d4d4;

}

.carousel{
    background-color: #f5d418;
    background-image: url(../img/splashbg.jpg);
    background-repeat: repeat;
    width: 95%;
    height: 95%;
    margin-top: 2%;
    border-radius: 5px;
}

.carousel-item {
    text-align: center;
    margin-top: 3px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    height: 80%;
}
.carousel-inner {
    height: 85%;
}

.blogPost {
    width: 80%;
    height: 24%;
    margin: 1% 10%;
    background-color: #fff;
    border-radius: 5px;
    border: solid 4px lightgray;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
}
.blogPost img {
    height: 20px;
}
.blogPost p {
    margin-bottom: 0;
}
.carousel-item h5 {
    font-size: 220%;
}
.carousel-control-next {
    margin-right: -4%;
}
.carousel-control-prev {
    margin-left: -4%;
}

.carouselBtn {
    color: black;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.carouselBtn:hover {
    background-color: #fdf490;
    border-color: #f5d418;
    color: black;
}
.carouselBtn:not(:disabled):not(.disabled).active, 
.carouselBtn:not(:disabled):not(.disabled):active, 
.show>.carouselBtn.dropdown-toggle {
    background-color: #fdf490;
    border-color: #f5d418;
    color: black;
}


/*       Modals of the carousel     */

.modal-content {
    justify-content: center;
    text-align: center;
}
.modal-header, .modal-footer {
    background-image: url(../img/splashbg.jpg);
}
.modal-header{
    display: flex;
    justify-content: center;
    text-align: center;
}
.modal-body {
    background-image: url(../img/background.jpg);
    padding: 20px;
}
.modal-body h4 {
    font-family: 'Pacifico', cursive;
}
.modal-body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.authorHold {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;   
    align-items: center;
    margin: 20px 0;
}

.authorHold img {
    width: 150px;
}




.hide { 
    display: none;
}




/*    Media Queries    */

@media (min-width: 768px) {
    .splash svg {
        width: 50%;
        margin: 2% 25% 0;
    }

    .main {
        width: 500px;
        min-height: 500px;
    }

    .title {
        font-size: 150%;
    }

    .moreReading {
        margin-top: 0;
    }
    .cardQuestion {
        margin: 0 30%;
        font-size: 200%;
    }
    .cardIcon {
        width: 200px;
        height: 200px;
    }
}

@media (min-width: 1024px) {
    .splash svg {
        width: 25%;
        margin: 0 10% 0 0;
    }

    .splashHold {
        text-align: center;
        margin: 15% 0%;
    }
        .main {
            width: 48%;
            height: 48%;
            margin: 4% 3%;
        }

        .moreReading {
            width: 45%;
            margin: 30px 0 0 0;
        }

        .moreReading {
            left: 300%;
            right: -100%;
            height: 100%;
        }
        .unhide {
            left: 56%;
            right: 100%;
        }
        .carouselSection {
            height: 100%;
        }

        .blogHolder {
            border-left: solid 10px #e4c206;
            border-top: 0;
            box-shadow: -10px 0px 5px #d4d4d4;
            min-height: 100%;
        }
        body {
            display: flex;
            flex-wrap: nowrap;
        }
        .modal-dialog {
            max-width: 800px;
        }
        .carousel-indicators {
            bottom: 50px;
        }

        .linksGroup, .listGroup, .contactGroup, .notifGroup {
            width: 48%;
            margin: 1%;
        }
        .inHold {
            width: 100%;
        }
        .resources, .contacts {
            display: flex;
            flex-wrap: wrap;
        }
        .contacts {
            margin-top: -100px;
        }

        .innerHealth, .innerHygiene, .innerSocial, .innerRelax, .innerEnjoy, .innerWork {
            justify-content: left;
        }
        .cardIcon {
            width: 125px;
            height: 100px;
            padding-left: 25px;
        }

        .squareHold {
            margin-top: -100px;
        }
        .square {
            width: 23%;
            height: auto;
        }

        .settings {
            width: 48%;
        }
        .profileHeader {
            width: 48%;
        }
        .profilePic {
            width: 300px;
            height: 300px;
        }
        .innerProfile {
            padding: 10px;
        }

        .soundHold {
            margin: 10% 0;
        }

        .results p {
            font-size: 300%;
        }
        





@media (min-width: 1200px) {
    .hex {
        width: 30%;
    }

.hex:hover {
    transform: scale(1.25);
    transition: .5s;
}
.hex1 {
    position: absolute;
    top: 0;
    left: 35%;
    transition: .5s;
}

.hex2 {
    position: absolute;
    top: 17%;
    left: 4%;
}
.hex3 {
    position: absolute;
    bottom: 7%;
    left: 4%;
}
.hex4 {
    position: absolute;
    top: 17%;
    right: 4%;
}
.hex5 {
    position: absolute;
    bottom: 7%;
    right: 4%;
}
.hex6 {
    position: absolute;
    bottom: -10%;
    left: 35%;
}
.hex7 {
    position: absolute;
    bottom: 29%;
    left: 35%;
}


.hexTitle1{
    position: absolute;
    top: 24%;
    left: 40%;
    width: 20%;
    text-align: center;
}
.hexTitle2{
    position: absolute;
    top: 40%;
    left: 9%;
    width: 20%;
    text-align: center;
}
.hexTitle3{
    position: absolute;
    top: 85%;
    left: 9%;
    width: 20%;
    text-align: center;
}
.hexTitle4{
    position: absolute;
    top: 40%;
    right: 9%;
    width: 20%;
    text-align: center;
}
.hexTitle5{
    position: absolute;
    top: 85%;
    right: 9%;
    width: 20%;
    text-align: center;
}
.hexTitle6{
    position: absolute;
    top: 101%;
    left: 40%;
    width: 20%;
    text-align: center;
}

#accordion {
    width: 60%;
    margin: 10px 20% 10px;
}

.btn-danger {
    width: 60%;
    height: 120px;
    margin: 0 20%;
}

.inHold {
    margin: 0% auto;
}
}
}